@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PetShopp</h1>
    <img class="Petshop-Index" src="~/Assests/Bacgrounds/BackgroundPrincipal.png" />
</div>
